:root {
    --bgColor: #f8fafc;
    --textColor: #fff;
    --accentColor: #655fff;
    --accentBgColor: #222222;
    --radius: 0.25rem;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: var(--bgColor);
    margin: 0;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

header {
    position: absolute;
    width: 100%;
    background: var(--textColor);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 1.93em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    color: var(--accentColor);
    margin: 0;
    display: inline-block;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.text {
    background-color: var(--accentBgColor);
    color: var(--textColor);
    margin: 0 0 2.5rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: var(--radius);
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 2.441rem;
}

.text-color {
    color: var(--accentColor);
}

.btn {
    border: 2px solid var(--accentBgColor);
    border-radius: var(--radius);
    color: var(--accentBgColor);
    background-color: var(--textColor);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: var(--textColor);
    background-color: var(--accentBgColor);
}

@media (max-width: 650px) {
    .container {
        width: 300px;
    }
}
